@font-face {
  font-family: "noto_sansregular";
  src: url("../fonts/notosans-regular-webfont.eot") format("embedded-opentype"),
    url("../fonts/notosans-regular-webfont.woff2") format("woff2"),
    url("../fonts/notosans-regular-webfont.woff") format("woff"),
    url("../fonts/notosans-regular-webfont.ttf") format("truetype"),
    url("../fonts/notosans-regular-webfont.svg#noto_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "recoletasemibold";
  src: url("../fonts/recoleta-semibold-webfont.eot");
  src: url("../fonts/recoleta-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/recoleta-semibold-webfont.woff2") format("woff2"),
    url("../fonts/recoleta-semibold-webfont.woff") format("woff"),
    url("../fonts/recoleta-semibold-webfont.ttf") format("truetype"),
    url("../fonts/recoleta-semibold-webfont.svg#recoletasemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #163a24;
}

.container {
  max-width: 1180px;
  margin: auto;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  justify-content: end;
  list-style: none;
}

header nav {
  padding-top: 15.5px;
  padding-bottom: 15.5px;
}

header nav a {
  color: #fbfaf7;
  /* text-align: right; */
  font-family: "noto_sansregular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header li > a,
header .button {
  margin-left: 24px;
}

header .button {
  padding: 15px 25px;
  border-radius: 160px;
  background: #198c36;
  margin-right: 10px;
  width: 141px;
  height: 52px;
}

header a,
header li {
  margin-top: auto;
  margin-bottom: auto;
}

section.main {
  background-color: #163a24;
}

section.main .wrapper {
  max-width: 1280px;
  margin: auto;
  background-image: url(../images/background.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: right;
}

section.main .container {
  padding-top: 120px;
  padding-bottom: 130px;
}

section.main article h1 {
  width: 391px;
  color: #fbfaf7;
  font-family: "recoletasemibold";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 65.25px; /* 135.938% */
  margin-bottom: 18px;
}

section.main article p {
  width: 475px;
  color: #fbfaf7;
  font-family: "noto_sansregular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

section.partner {
  padding-top: 114px;
  padding-bottom: 120px;
}

section.partner h2 {
  color: #163a24;
  text-align: center;
  font-family: "recoletasemibold";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 66px;
}

section.partner .wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 896px;
  gap: 86px;
  align-items: center;
}

section.partner .wrapper img {
  max-width: 110px;
}

section.production {
  background-color: #163a24;
  padding-top: 66px;
  padding-bottom: 120px;
}

section.production h2 {
  color: #fbfaf7;
  text-align: center;
  font-family: "recoletasemibold";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  margin-bottom: 74px;
}

section.production .wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 1180px;
}

section.production article {
  max-width: 295px;
  align-items: center;
}

section.production article p {
  color: #fbfaf7;
  text-align: center;
  font-family: "noto_sansregular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

section.production article img {
  display: block;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}

section.employees {
  background: #f2efe6;
  padding-top: 114px;
  padding-bottom: 120px;
}

section.employees h2 {
  color: #163a24;
  text-align: center;
  font-family: "recoletasemibold";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 54px; /* 112.5% */
  max-width: 739px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
}

section.employees p {
  color: #163a24;
  text-align: center;
  font-family: "noto_sansregular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
}
